.main {
  @include flex;
  flex-direction: column;
  justify-content: center;
  padding-top: $navbar-height * 2;

  @include tablet { padding-top: $navbar-height * 1.5; }

  .section {
    @include flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: $navbar-height;
  }

  .section.blue {
    @include border-radius(32px);
    margin-bottom: 1rem;

    .header { color: white; }
  }

  .header {
    flex-basis: 100%;
    margin: 2rem 0;
    font-weight: 300;
    text-align: center;
  }

  .profile.container {
    margin-bottom: 2rem;

    @include large {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include mobile { height: 750px; }
  }

  .profile-pic {
    height: calc(100% - 2rem);
    width: 40%;
    min-width: 40%;
    margin: 1rem;
    object-fit: cover;
    @include border-radius(5px);
    @include border-top-left-radius(25px);
    @include border-bottom-right-radius(25px);

    @include large {
      flex-basis: 75%;
      height: 50%;
      margin-bottom: 0;
    }
  }

  .meta-container {
    margin: 1rem 2rem 1rem 1rem;

    @include tablet { 
      flex-basis: 75%; 
      font-size: 0.9rem;
    }

    h3 {
      margin: 0.5rem 0;
      color: $light-font;
      font-weight: 300;
    }

    p { margin: 0.5rem 0; }
  }

  .info.container {
    justify-content: space-evenly;
    height: 50px;

    @include tablet {
      justify-content: center;
      flex-wrap: wrap;
      height: 90px;
    }

    p {
      @include flex;
      margin: auto;
    }

    img { margin: auto 0.5rem; }

    .github {
      height: 20px;
      width: 20px;
    }
  }

  #about {
    flex-direction: column;
    align-items: center;
  }

  .experience.container, .education.container {
    position: relative;
    @include flex;
    flex-direction: column;
    margin-bottom: 2rem;

    @include tablet { align-items: center; }

    .present {
      margin: 1rem;
      color: $x-light-font;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 100;
      font-style: italic;
    }

    .timeline {
      position: absolute;
      left: 0;
      right: 0;
      height: calc(100% - 4rem);
      width: 0;
      margin: 3rem auto;
      border: 0.5px solid $x-light-font;
      background: $x-light-font;

      @include tablet { display: none; }
    }

    .info {
      @include flex;
      height: 400px;

      @include tablet {
        flex-wrap: wrap; 
        justify-content: center;
        height: auto;
      }

      .title {
        position: relative;
        width: 80%;
        padding: 1rem;

        h4 {
          font-weight: 400;
          color: $light-font;
        }

        .circle {
          position: absolute;
          top: 1rem;
          right: calc(-2rem + -12px);
          height: 20px;
          width: 20px;
          border: 2px solid $x-light-font;
          background: white;
          @include border-radius(50%);

          @include tablet { display: none; }
        }

        img {
          height: 70%;
          width: 100%;
          object-fit: contain;
        }
      }

      .description {
        width: 80%;
        margin-left: 4rem;
        padding: 1rem;

        @include tablet { margin: 0; }

        li { padding: 0.5rem 0; }
      }
    }
  }

  .education.container {
    margin: 0;
    
    @include tablet {
      .title { height: 50%; }
    }
  }

  .skills {
    @include flex;
    flex-wrap: wrap;
    width: 65%;
    max-width: 900px;
    min-width: 300px;
    margin-bottom: 2rem;
  }

  .skill.container {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: initial;
    margin: 1rem 2rem;
    padding: 1rem;
    transition: box-shadow 150ms ease-in-out;

    &:hover {
      box-shadow: $box-shadow-hover-spread;
      transition: box-shadow 150ms ease-in-out;
    }

    @include mobile { margin: 0.5rem; }

    p { margin-top: 0.5rem; }

    img {
      height: 70px;
      width: 70px;
      object-fit: contain;
    }
  }

  .projects {
    position: relative;
    justify-content: center;
    min-height: 520px;
    margin-bottom: $navbar-height + 20px;

    .container { margin: auto; }

    .project-carousel {
      @include flex;
      justify-content: center;
      flex-direction: column;
      padding: 0.5rem;
      
      h3, span { color: $light-font; }
      
      span { margin-top: 2rem; }
    }

    img {
      height: 200px;
      width: 200px;
      margin: auto;
      object-fit: contain;
    }

    .btn-container {
      position: absolute;
      @include flex;
      justify-content: space-between;
      top: 0;
      bottom: 0;
      right: 2rem;
      left: 2rem;
      margin: auto;
      max-width: $tablet-width;
      height: 6rem;

      @include tablet {
        position: absolute;
        @include flex;
        justify-content: space-between;
        bottom: -4rem;
        top: initial;
        right: initial;
        left: initial;
        width: 6rem;
        height: auto;
      }

      .left-arrow, .right-arrow {
        height: 40px;
        width: 30px;
        margin: auto 0;
        border: none;
        background-size: 100%;
      }
      
      .left-arrow { background: url('/assets/LeftArrow.svg') no-repeat center; }

      .right-arrow { background: url('/assets/RightArrow.svg') no-repeat center; }
    }
  }
  
  .footer {
    position: relative;
    @include flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5rem;
    @include border-top-left-radius(25px);
    @include border-top-right-radius(25px);

    .header {
      width: 100%;
      color: white;
      text-align: center;
    }

    .up-btn {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0.5rem;
      margin: auto;
      width: 70px;
      height: 50px;
      border: none;
      background: url('/assets/UpArrow.svg') no-repeat center;
    }
  }
}
