.main {
  @include flex;
  justify-content: center;
  padding-top: $navbar-height * 2;

  .section {
    @include flex;
    justify-content: center;
    width: 100%;
    height: 900px;
  }

  .section.half {
    height: 450px;
  }

  .container {
    @include flex;
    width: 65%;
    max-width: 900px;
    background: white;
    @include border-radius(5px);
    @include border-top-left-radius(25px);
    @include border-bottom-right-radius(25px);
    box-shadow: $box-shadow-heavy-spread;

    @include mobile {
      width: 90%;
    }
  }

  .profile-pic {
    height: 90%;
    width: 40%;
    margin: auto 1rem;
    object-fit: cover;
    @include border-radius(5px);
    @include border-top-left-radius(25px);
    @include border-bottom-right-radius(25px);
  }
}