@import './mixins.scss';
@import './variables.scss';
@import './App.scss';
@import './Navbar.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Avenir, sans-serif;
  background: $main-background;
  min-width: 320px;
}

button {
  outline: none;
  cursor: pointer;
}

.blue {
  @include background-linear-gradient(#BCCDED, #DCE4F4);
}

a, .link {
  color: $active-blue;
  text-decoration: none;
}

.container {
  @include flex;
  width: 65%;
  max-width: 900px;
  padding: 0.5rem;
  background: white;
  @include border-radius(5px);
  @include border-top-left-radius(25px);
  @include border-bottom-right-radius(25px);
  box-shadow: $box-shadow-heavy-spread;

  @include tablet { width: 90%; }
}

// Transitions

.modal-enter { opacity: 0; }

.modal-enter.modal-enter-active {
  opacity: 1;
  -webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	transition: all 200ms;
}

.modal-leave { opacity: 1; }

.modal-leave.modal-leave-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.mounted-appear { opacity: 0.01; }

.mounted-appear.mounted-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.slide-enter {
  transform: translateX(100%); 
  transition: 0.3s transform ease-in-out;
}

.slide-enter-active { transform: translateX(0); }

.slide-leave {
  transform: translateX(0);
  transition: 0.3s transform ease-in-out;
}

.slide-leave-active { transform: translateX(-100%); } 
