$main-highlight: #606E88;
$secondary-highlight: #BCCAE3;
$main-background: #F4F4F4;

$navbar-height: 60px;

$dark-font: #333333;
$medium-font: #666666;
$light-font: #999999;
$x-light-font: #bebebe;
$xx-light-font: #e8e8e8;
$auth-grey: #f2f3f9;

$dark-grey: #131313;
$mid-grey: #252525;
$light-grey: #e4e4e4;
$x-light-grey: #e6e6e6;
$sub-tab-mid-grey: #393E42;
$sub-tab-light-grey: #57616D;
$border-grey: #C9C8C8;
$border-grey-light: #D7D7D7;
$active-blue: #3971FC;
$main-orange: #fd762a;
$main-red: #fa3e56;
$main-green: #00954C;
$light-green: #11d69a;
$light-blue: #e0e9fb;
$light-blue-outline: #c5dbfd;

$hover-grey: #f3f3f3;
$background-grey: #C7C7C7;

$box-shadow-light: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0 ,0, 0.2);
$box-shadow-light-spread: 0 2px 9px 0 rgba(0, 0, 0, 0.14), 0 3px 5px -2px rgba(0, 0, 0, 0.12), 0 1px 12px 0 rgba(0, 0, 0, 0.2);
$box-shadow-glow: 0px 2px 3px 2px rgba(188, 202, 227, 0.62);
$inset-box-shadow-light: 0 0 2px 0 rgba(126, 126, 126, 0.5);
$inset-box-shadow-mid: inset 0 1px 7px 0 rgba(95, 95, 95, 0.5);
$sidebar-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.85);
$sidebar-header-box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.38);
$active-bar-box-shadow: 4px -2px 30px 0px #346CFF;
$active-sub-tab-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
$box-shadow-bottom: 0px 2px 2px 0px rgba(128, 128,  128,0.5);
$box-shadow-heavy-spread: 2px 5px 10px 0 rgba(0, 0, 0, 0.16);

$active-link-inset-shadow: inset 7px 15px 20px 0px black;

$loader-size: 100px;
$loader-dot-size: ($loader-size / 5);
$loader-height: ($loader-dot-size * 2);
 